.venv
.devcontainer
.devcontainer\devcontainer.json
__pycache__
.claude
*.tmp
~WRL1120.tmp

data/Fake.csv
data/True.csv
data/news.csv
data/ready_dataset.csv
data/train_bodies.csv
data/train_stances.csv

pages_old/
app_old.py

reports/
results/predictions_*.csv
assets/*.csv

fact_check_cache/
notebooks/rubert/train_rubert_nli_factcheck.ipynb
models/rubert-tiny2/

# utils

# Конфиденциальные данные
.env
.env.local

# Архив неиспользуемых файлов
trash/
